<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>Hola</h1>
    <h2>  primer proyecto en nodeJS</h2>
    <h3>Holaaa a todos, bienvenidooeee</h3>
    <img src="/img/perfil.JPG" >
    <%- include('partials/footer') %>
</body>
</html>