<footer>
    <p>Soy estudiante de Ingeniería de Sistemas, apasionado por la tecnología, la optimización de procesos y el desarrollo de soluciones innovadoras en entornos digitales. Durante mi formación académica, he adquirido una sólida base en programación, administración de bases de datos, redes y seguridad informática, complementada con habilidades en análisis de sistemas y gestión de proyectos. Mi enfoque se centra en la resolución de problemas complejos mediante el uso de tecnologías emergentes, así como en la mejora de la eficiencia y la automatización de procesos.</p>
</footer>