<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">contactanos</a>
        </li>
        <li>
            <a href="/contact">sobre nosotros</a>
        </li>
    </ul>
</nav>